  </div>
</div>

<!-- LINKED JQUERY FILES -->

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- Project Linked Javascript -->
  <script src="js/app.js"></script>

  <script src="//use.typekit.net/sql3otu.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</body>
</html>
