<% include partials/header %>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <p class="modal-manifest"></p>
        <form action="">
          <textarea id="m" autocomplete="off" class="form-control" rows="3" placeholder="Write your own inspiring declaration. Share good vibes. Don't have any inspiring words of your own? Respond to the today's manifesto."></textarea>
          <br>
          <p><button class="close">Send</button></p>
        </form> 
      </div>
    </div>
  </div>
</div>

<div class="manifesto">
<!--   <h1 style="margin-top:0;">Happiness is like peeing in your pants. Everyone can see it but only you can feel its warmth.</h1>
  <ul class="tweets"></ul> -->

</div>

<ul id="declarations"></ul>

<% include partials/footer %>
